<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <title>business_mypage</title>
    <link rel="stylesheet" type="text/css" href="/champon_hw/login/views/business_mypage.css" />
</head>

<body>
    <div class="container">
        <div class="nav_menu">
            <a href="Main.html" class="_menu">ㅍㅎㄴㄹ</a>
            <!--카테고리 메뉴바-->
            <div>
                <ul id="mainline">
                    <li>
                        <a href="#" class="category_menu">카테고리</a>
                        <ul>
                            <li data-url="furniture.html">
                                <span>가구</span>
                            </li>
                            <li data-url="electronic.html">
                                <span>전자기기</span>
                            </li>
                            <li data-url="daily.html">
                                <span>생활용품</span>
                            </li>
                            <li data-url="hobby.html">
                                <span>취미</span>
                            </li>
                            <li data-url="beauty.html">
                                <span>뷰티</span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/champon_hw/Main.html" class="all_menu">전체</a>
                    </li>
                    <li>
                        <a href="#" class="funding_menu">펀딩예정</a>
                    </li>
                    <li>
                        <a href="#" class="earlybird_menu">얼리버드</a>
                    </li>
                </ul>
            </div>

            <a href="/mypage" class="main_mypage">마이페이지</a>
            <a href="/logout" class="main_logout">로그아웃</a>

            <div id="wrap">
                <form action="" autocomplete="on">
                    <input id="search" name="search" type="text" placeholder="검색어를 입력해 주세요." />
                    <input id="search_submit" value="Rechercher" type="submit" />
                </form>
            </div>
        </div>

        <!-- body -->
        <h1> 내 정보 </h1>

        <hr>
        <% if(is_logined == true){ %>
        <div id = "mypage_div">
            <form method="post" action="/mypage">
                <table  class="mypage_table">
                    <tr>
                        <td><label>상호명 : </label></td>
                        <td name="business_name" class = "label_name" > <%= business_name %></td>
                    </tr>
                    <tr>
                        <td><label>사업자 번호 : </label></td>
                        <td name="business_num" class = "label_name" > <%= business_num %> </td>
                    </tr>
                    <tr>
                        <td><label>분야 : </label></td>
                        <td name="field" class = "label_name" > <%= field %> </td>
                    </tr>
                    <tr>
                        <td><label>이름(담당자) : </label></td>
                        <td name="name" class = "label_name" > <%= name %> </td>
                    </tr>
                    <tr>
                        <td><label>아이디 : </label></td>
                        <td name="id" class = "label_name" > <%= id %> </td>
                    </tr>
                    <tr>
                        <td><label>비밀번호 : </label></td>
                        <td name="password" class = "label_name" > <%= password %> </td>
                    </tr>
                    <tr>
                        <td><label>비밀번호 확인 질문 : </label></td>
                        <td name="password_question" class = "label_name" > <%= password_question %> </td>
                    </tr>
                    <tr>
                        <td><label>비밀번호 확인 답변 : </label></td>
                        <td name="password_answer" class = "label_name" > <%= password_answer %> </td>
                    </tr>
                    <tr>
                        <td><label>주소 : </label></td>
                        <td name="address" class = "label_name" > <%= address %> </td>
                    </tr>
                    <tr>
                        <td><label>e-mail : </label></td>
                        <td name="e_mail" class = "label_name" > <%= e_mail %> </td>
                    </tr>
                    <tr>
                        <td><label>전화번호 : </label></td>
                        <td name="phone_number" class = "label_name" > <%= phone_number %> </td>
                    </tr>
                    <tr>
                        <td><label>계좌번호 : </label></td>
                        <td name="account_num" class = "label_name" > <%= account_num %> </td>
                    </tr>
                    <tr>
                        <td colspan="2" id="bt">
                            <button type="" value=""> 수정하기 </button>
                        </td>
                    
                </table>
            </form>
        </div>
        <% } %>

        <footer class="footer">
            <hr />
            <div>
                <h3>펀한누리</h3>
                <p>주소 : 경기도 군포시 한세로 30</p>
                <p>고객 문의 : 0509moon@naver.com</p>
                <p>ver. Beta test</p>
            </div>
        </footer>
    </div>
    <script type="text/javascript" src="jquery-3.6.0.js"></script>
    <script src="/login/mypage.js"></script>
</body>

</html>